<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/components/css/flexResult.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <script type="text/javascript">
        if(typeof FB !== 'undefined') {
            Zef.updateFBResultLikeArea();
        }
        //Zef.updateTwitterLinks();
    </script>
        <div class="zg_result" style="{zgResultStyle}">
            <div class="zg_resultImage" style="{zgResultImageStyle}">
                <img src="{targetImage}" class="zg_resultImageImg"/>
            </div> 
            <div class="zg_resultName" style="{zgResultNameStyle}">
                {name}
            </div>
            <div class="zg_resultDescription" style="{zgResultDescriptionStyle}">
                {description}
            </div>
            <div class="zg_resultPrice" style="{zgResultPriceStyle}">
                {price}
            </div>
            <div class="zg_resultHitPercent" style="{zgResultHitPercentStyle}">
                {hitPercentage} %
            </div>
            <div class="zg_resultParty" style="{zgResultFolderStyle;}">
                {folder}
            </div>
            <div class="zg_resultNumber" style="{zgResultNumberStyle}">
                {number}
            </div>
            <div class="zg_resultfbLikeArea" style="{zgResultFacebookStyle}">
                {fbLikeContent}
            </div>
            <div class="zg_resultText" style="{zgResultTextStyle}">
                {dynText}
            </div>
            <div class="result_fbshares"></div>
        </div>


    </body>
</html>
