<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div class="zg_resultInfo zg_resultInfo{componentId}" id="{componentId}">
        <div class="zg_resultInfoHide"></div>
        <div class="zg_resultInfoTitle">{title}</div>
        <div class="zg_resultInfoChallenge">{challengeButton}</div>
        <div class="zg_resultInfoResultImage"></div>
        <div class="zg_resultInfoResultName"></div>
        <div class="zg_resultInfoResultLinkButton"></div>
        <div class="zg_resultInfoResultDescription"></div>
        <div class="zg_resultInfoResultLink">{button}</div>
    </div>
</body>
</html>
